<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="suite">

    <test name="smoke module">
        <groups>
            <run>
                <include name="get"/>
<!--                <include name="delete"/>-->
            </run>
        </groups>
        <classes>
            <class name="test.QuoteAPI"> </class>
<!--            <class name="test.AgentAPI"> </class>-->
        </classes>
    </test>

    <test name="regression module">
        <groups>
            <run>
                <include name="delete">

                </include>
            </run>
        </groups>
        <classes>
            <class name="test.QuoteAPI"> </class>
        </classes>
    </test>


</suite>
